<h1>Pirate</h1>

<div class="pirate">
  <p>Name: <%= @pirate.name %></p><br>
  <p>Weight: <%= @pirate.weight %></p><br>
  <p>Height: <%= @pirate.height %></p><br>
</div><br>

<h2>Ship(s)</h2>

<% @ships.each do |ship_info| %>
    <div class="ships">
      <p>Name: <%= ship_info.name %></p><br>
      <p>Type: <%= ship_info.type %></p><br>
      <p>Booty: <%= ship_info.booty %></p><br>
    </div><br>
  <% end %>



